<form action="/tasks/add" method="POST">
    <div>
        <label for="title">Write a title</label>
        <input type="text" name="title" placeholder="title" id="title">
    </div>
    <div>
        <label for="descrption">Write a description</label>
        <textarea name="description" placeholder="description" id="description"></textarea>
    </div>

    <div>
        <button>Add</button>
    </div>
</form>